<div>
        <!-- Modal Header -->
        <div class="modal-header" style="color:white; background-color:#9AB638;">  
            <h4 style="text-align: center;">Por favor intente de nuevo</h4>  
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
            <div class="col-12 text-center">
                <h4>{{error_message}}</h4>
            </div>
            <hr>
            <div class="col-12 text-center">
                <button 
                    type="button" 
                    class="btn boton" 
                    (click)="closeModals()"
                >
                    Aceptar
                </button>
            </div>
        </div>
</div>