<p>TEAM</p>
<br><br>
Líder de proyecto, programador Frontend, Backend<br>
Luis Angel Pineda Urakami<br>
Site: yisangel@gmail.com<br>
Cel: 2225406997<br>
Location: Puebla, Pue.<br>
<br>
<br><br> 
Desarrollador de aplicaciones moviles, programador Frontend Backend<br>
Antonio Martinez Cruz<br>
Site: anto.mtz.gss@gmail.com<br>
Cel: 2227153550<br>
Location: Puebla, Pue.<br>
<br><br>
Tester, Programador FrontEnd Backend<br>
Missael Perez Cordova<br>
Site: missael.cordova@outlook.com<br>
Cel: 2221200810<br>
Location: Puebla, Pue.<br>
<br><br>
Desarrollador, Programador FrontEnd Backend<br>
Guillermo Vara De Gante<br>
Site: memovdg@gmail.com<br>
Cel: 2228450712<br>
Location: Puebla, Pue.<br>
<br><br>
Quality Assurance<br>
Angel Cid Bonilla<br>
Site: acb98@live.com.mx<br>
Cel: 2231008472<br>
Location: Puebla, Pue.<br>
<br><br>
Dpto. Analítica de datos<br>
Edgardo Flores Badillo<br>
Site: badilloedgar72@gmail.com<br>
Cel: 2229033821<br>
Location: Puebla, Pue.<br>
<br><br>
Dpto. Departamento De Prototipos<br>
Solar Gaona Gustavo<br>
Site: solargustavo85@gmail.com<br>
Cel: 2227732147<br>
Location: Puebla, Pue.<br>
<br><br>

Salmos 147:3<br>
sana a los quebrantados de corazón, y venda sus heridas.<br>
