<app-nav-panel-corporativo></app-nav-panel-corporativo>
<div>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>Usuario : {{nameUser}} {{first_name}} {{second_name}}</h1>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <h3>Hora de entrada</h3>
            </div>
            <div class="col">
                <h3>Hora de salida</h3>
            </div>
            <div class="col">
                <h3>Numero de transacciones</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3>Hora de entrada</h3>
            </div>
            <div class="col">
                <h3>Hora de salida</h3>
            </div>
            <div class="col">
                <h3>{{numStudies}}</h3>
            </div>
        </div>

    </div>

</div>