<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">



<div id="body" class="sidebar-is-reduced">

  <header class="l-header b-c2">
    <div class="l-header__inner clearfix">  
        <div class="c-header-icon js-hamburger b-c2 bh-c5" (click)="myFunction()">
            <a id="hamburger" class="hamburger-toggle"  ><span class="bar-top"></span><span class="bar-mid"></span><span class="bar-bot"></span></a>
        </div>      
    </div>
  </header>
  <div class="l-sidebar b-c2" style="position: fixed;">
    <div class="logo b-c3">
      <span><a id="logo"><img class="img-fluid" src="../../../../assets/img/logoNormalBlanco.png"></a></span>
    </div>
    <div class="l-sidebar__content" (click)="myFunction()">
      <nav class="c-menu js-menu">
        <ul class="u-list" >
            <li style="background-color: #7c4e26;" class="c-menu__item has-submenu"  routerLinkActive="active">
                <div class="c-menu__item__inner b-c2"><a style="color:white;" class="fas fa fa-2x fa-clock-o c-c3" [routerLinkActive]="['active']"></a>
                  <a class="c-menu-item__title" style="color:white;"  [routerLinkActive]="['active']"><span class="c-c3" >&nbsp;&nbsp;&nbsp;&nbsp;Promociones</span></a>
                </div> 
            </li>
        </ul>
      </nav>
    </div>
  </div>

<div class="l-main">
  <div class="content-wrapper content-wrapper--with-bg">    
  </div>
</div>
</div>


