<app-navbar></app-navbar>
<div class="base">
    <div class="col-md-12">
        <h3 class="text-white titulo">Términos y Condiciones:</h3>
    </div> 
    <br>
    <div class="col-md-12">
        <h5 class="text-white titulo">Laboratorios Semin XXI</h5>
    </div> 
    <br> 
    <div class="row parrafosJustify">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <li type="disc">Laboratorios Médicos Semín® en mejora de sus servicios ofrece a sus clientes en su página Web, aplicación móvil -DocSemín- y agenda en línea -SemínDigital-, información de apoyo para la agenda y compra servicios de laboratorio e imageneología. En ningún caso se sustituyen a la consulta médica.</li>
            <li type="disc">Todos nuestros servicios incluyen IVA a excepción de la consulta medica.</li>
            <li type="disc">Se aplicará reembolso del 100% si un servicio es pagado en efectivo y cancelado antes de su realización, si el reembolso se solicita después de la realización del servicio se aplican restricción.</li>
            <li type="disc">En caso de solicitar rembolso y el medio de pago haya sido de manera digital se aplicaran las siguientes comisiones:</li>
                <ol>
                    <li type="disc">Pago realizado por Paypal: COSTO DEL ESTUDIO - 3.95 % + 4.00 MXN</li>
                    <li type="disc">Pago realizado con Tarjeta: COSTO DEL ESTUDIO - 3.60 % + 3.00 MXN</li>
                </ol>
            <li type="disc">La fecha límite para solicitar reembolso es el día 31 de diciembre del mismo año en que fue pagado el servicio.</li>
            <li type="disc">Después de agregar un servicio al carrito se tendrán un plazo máximo media hora para confirmar forma de pago.</li>
            <li type="disc">La comisión por transacción no será cobrada en ninguno de nuestros servicios.</li>
            <li type="disc">Los precios de nuestros servicios pueden cambiar sin previo aviso.</li>
            <li type="disc">Los estudios pueden no ser ofrecidos en todas nuestras sucursales, por ello en el caso de una cita abierta es necesario la confirmación del cliente comunicándose al Centro de Atención en el siguiente número telefónico: 222 237 6664.</li>
            <li type="disc">Los estudios pueden ser re agendados por situaciones inesperadas, en dicha situación se pondrá en contacto con el cliente lo más pronto posible.</li>
            <li type="disc">Los resultados clínicos y de imageneología se almacenarán digitalmente 5 años, incluyendo el año vigente.</li>
            <li type="disc">La información proporcionada de nuestros servicios, por ningún motivo sustituye la cita al médico.</li>
        </div>
    </div>
    <div class="col-md-12 parrafosCenter">
        Semin XXI S. A de C. V
        <br><br><br>
    </div>
    <div class="col-md-12 parrafosJustify" style="-webkit-text-fill-color:#ab5527;">
        <h5>
            13 Sur 3012, Col. Volcanes, Puebla, Puebla, México. C.P. 72410
            <br><br>
            (222) 237-6664
            <br><br>
            info@semin.mx
        </h5>
    </div>
</div>
 