<html lang="en">
    
    <body>
        <div id="mcuerpo">
            <div id="footer">

           
                <app-nav-med></app-nav-med>
<div class="base">
<lib-ngx-notification></lib-ngx-notification>
<ngx-spinner></ngx-spinner>
    <div style="margin-left: -35px;">
        <div class="col-md-12">
            <h3 class="text-white titulo" style="margin-left: 20px;">Ajustes:</h3>
        </div> 
        <hr>
        <ul>
            <br>
            <li ><h4 class="titulo">Volver a introducir contraseña:</h4>
            <p style="font-size: 20px;">Envíe a su correo personal una solicitud de reingreso de contraseña.</p></li>
            <button (click)="verModal(resetModal)" type="button" class="btnboton">Enviar</button>
            <br><br><br>
            <li><h4 class="titulo">Desconectar todos los dispositivos:</h4>
            <p style="font-size: 20px;">Esta solicitud invalida el acceso de todos los dispositivos donde se ha conectado con su cuenta, por lo cual requerirá iniciar usuario nuevamente usando su correo y contraseña.</p></li>
            <button (click)="verModal(confirmacionModal)" type="button" class="btnboton">Desconectar</button>
            <br><br><br>
            <li><h4 class="titulo">Horario de servicio:</h4>
            <p style="font-size: 20px;">Defina su horario de atención.</p></li>
            <button type="button" (click)="rellenarHorarios()" (click)="verModal(horarioModal)" class="btnboton">Modificar</button>
            <br><br><br>
            <li><h4 class="titulo">Acerca de:</h4>
            <p style="font-size: 20px;">Información de contacto.</p></li>
            <button type="button" (click)="verModal(acercaModal)" class="btnboton">Acerca de</button>
        </ul>
    </div>

    <ng-template #confirmacionModal let-c="close" led-d="dismiss">
        <!-- Modal Header -->
        <div class="modal-header" style="color:white; background-color:#9AB638;">  
            <h4>Confirmación:</h4>  
            <button type="button" class="close" (click)="c('')">x</button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
            <h4>¿Esta seguro que desea continuar?</h4>
            &nbsp;
            <p style="font-size: 20px;">Esta operación no se puede deshacer, tendrá que iniciar usuario nuevamente en todos sus dispositivos conectados.</p>
            <p class="text-danger" style="font-size: 20px;">Esta operación no se puede deshacer.</p>
            <br>
            <button type="button" class="btn boton"  (click)="logoutPaciente()" (click)="c('')">Aceptar</button>
            &nbsp;
            <button type="button" class="btn btn-danger" (click)="c('')">Cancelar</button>
        </div>
    </ng-template>

    <ng-template #horarioModal let-c="close" led-d="dismiss">
        <!-- Modal Header -->
        <div class="modal-header" style="color:white; background-color:#9AB638;">  
            <h4>Horario</h4>  
            <button type="button" class="close" (click)="c('')">x</button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
            <form [formGroup]="horarioForm" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="col-md-12">
                    <h3 style="margin-left: -15px;" class="text-white titulo">Lun - Vie:</h3>
                </div> 
                <label>Hora Inicio (Requerida)</label>
                <br>
                <input type="time" name="hora_apertura"  formControlName="hora_apertura"  [(ngModel)]="medicoTmp.hora_apertura">
                <br><br>
                <label>Hora Final (Requerida)</label>
                <br>
                <input type="time" name="hora_cierre"  formControlName="hora_cierre"  [(ngModel)]="medicoTmp.hora_cierre">
                <br>
                <span style="color:Red;" *ngIf="horarioForm.controls['hora_cierre'].touched && horarioForm.controls['hora_cierre'].errors?.required">Campo Requerido.</span>
                <span style="color:Red;" *ngIf="horarioForm.errors" > Por favor revise el horario ingresado</span>
                <br>
                <div *ngIf="citaEstatusL==1" class="alert alert-primary" role="alert">Espere...</div>
                <div *ngIf="citaEstatusL==2" class="alert alert-success" role="alert">Horario guardado exitosamente</div>
                <div  *ngIf="citaEstatusL==3" class="alert alert-danger" role="alert">Error: {{msgError}}</div>
                <br>
                <button type="button"  class="btn boton" data-dismiss="modal" (click)="actualizarHorarioMedico()" [disabled]="horarioForm.invalid">Modificar</button>
                <br>
            </form> 
            <form [formGroup]="horarioFormSab" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="col-md-12">
                    <br>
                    <h3 style="margin-left: -15px;" class="text-white titulo">Sábado:</h3>
                </div> 
                <label>Hora Inicio (Requerida)</label>
                <br>
                <input type="time" name="hora_apertura_sab"  formControlName="hora_apertura_sab"  [(ngModel)]="medicoTmpSab.hora_apertura_sab">
                <br><br>
                <label>Hora Final (Requerida)</label>
                <br>
                <input type="time" name="hora_cierre_sab"  formControlName="hora_cierre_sab"  [(ngModel)]="medicoTmpSab.hora_cierre_sab">
                <br>
                <span style="color:Red;" *ngIf="horarioFormSab.controls['hora_cierre_sab'].touched && horarioFormSab.controls['hora_cierre_sab'].errors?.required">Campo Requerido.</span>
                <span style="color:Red;" *ngIf="horarioFormSab.errors" > Por favor revise el horario ingresado</span>
                <br>
                <div *ngIf="citaEstatusS==1" class="alert alert-primary" role="alert">Espere...</div> 
                <div *ngIf="citaEstatusS==2" class="alert alert-success" role="alert">Horario guardado exitosamente</div>
                <div  *ngIf="citaEstatusS==3" class="alert alert-danger" role="alert">Error: {{msgError}}</div>
                <br>
                <button type="button"  class="btn boton" data-dismiss="modal" (click)="actualizarHorarioMedicoSab()" [disabled]="horarioFormSab.invalid">Modificar</button>
                <br>
            </form>   
            <form [formGroup]="horarioFormDom" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="col-md-12">
                    <br>
                    <h3 style="margin-left: -15px;" class="text-white titulo">Domingo:</h3>
                </div> 
                <label>Hora Inicio (Requerida)</label>
                <br>
                <input type="time" name="hora_apertura_dom"  formControlName="hora_apertura_dom"  [(ngModel)]="medicoTmpDom.hora_apertura_dom">
                <br><br>
                <label>Hora Final (Requerida)</label>
                <br>
                <input type="time" name="hora_cierre_dom"  formControlName="hora_cierre_dom"  [(ngModel)]="medicoTmpDom.hora_cierre_dom">
                <br>
                <span style="color:Red;" *ngIf="horarioFormDom.controls['hora_cierre_dom'].touched && horarioFormDom.controls['hora_cierre_dom'].errors?.required">Campo Requerido.</span>
                <span style="color:Red;" *ngIf="horarioFormDom.errors" > Por favor revise el horario ingresado</span>
                <br>
                <div *ngIf="citaEstatusD==1" class="alert alert-primary" role="alert">Espere...</div>
                <div *ngIf="citaEstatusD==2" class="alert alert-success" role="alert">Horario guardado exitosamente</div>
                <div  *ngIf="citaEstatusD==3" class="alert alert-danger" role="alert">Error: {{msgError}}</div>
                <br>
                <button type="button"  class="btn boton" data-dismiss="modal" (click)="actualizarHorarioMedicoDom()" [disabled]="horarioFormDom.invalid">Modificar</button>
                <hr>
            </form>
            <button type="button" class="btn btn-danger" (click)="c('')">Cancelar</button>
        </div>
    </ng-template>

    <ng-template #acercaModal let-c="close" led-d="dismiss">
        <!-- Modal Header -->
        <div class="modal-header" style="color:white; background-color:#9AB638;">  
            <h4>Laboratorios Médicos SEMIN XXI:</h4>  
            <button type="button" class="close" (click)="c('')">x</button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
            <p style="font-size: 20px;">Es una empresa de salud con trato humano para usted y su familia, diseñado con los más altos estándares de calidad, cuidando así en obtener los resultados de diagnóstico con la mayor precisión y exactitud, mediante tecnología moderna digitalizada.</p>
            <br>
            <p style="font-size: 20px;">Con base a nuestros valores, misión, visión y tendencias en que vive nuestra población y país, hemos creado programas de salud donde certificamos su completo bienestar de salud y programas de responsabilidad social para disminuir las principales tasas de mortalidad que más afectan a la población, por lo tanto nuestro compromiso es ofrecer salud para todos.</p>
            <br> 
            <p id="center" style="font-size: 20px;">De ante mano agradecemos con mucho cariño su confianza.</p>
            <br>
            <strong><p style="font-size: 20px;">Laboratorios Médicos SEMIN XXI 2020.<br> Todos los derechos reservados</p></strong>
            <br>
            <button type="button" class="btn boton" (click)="c('')">Aceptar</button>
        </div>
    </ng-template>

    <ng-template #resetModal let-c="close" led-d="dismiss">
        <!-- Modal Header -->
        <div class="modal-header" style="color:white; background-color:#9AB638;">  
            <h4>Cambiar Contraseña:</h4>  
            <button type="button" class="close" (click)="c('')">x</button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
            <p style="text-align: center;" class="parrafosLeft">¿Esta seguro que desea cambiar la contraseña enlazada al correo {{userAPI.email}} ?</p>
            <div *ngIf="flag" class="alert alert-success" style="text-align: center;" role="alert">Se ha enviado a su correo la solicutud de cambio de contraseña.</div>
            <button *ngIf="!flag" type="button" class="btn boton" (click)="cambiarContrasena()">Aceptar</button>
            <button *ngIf="flag" type="button" class="btn boton" disabled>Aceptar</button>
            &nbsp;
            <button type="button" class="btn btn-danger" (click)="c('')">Cancelar</button>
        </div>
    </ng-template>

</div> 
</div>
</div>
</body>
</html>


